<h1 class="h1 m-5 text-center">Detail View</h1>

<div *ngIf="animal" class="d-flex justify-content-center m-3">
    <img src="{{animal.img}}" class="card-img-top" style="object-fit:cover; object-position:center" alt="">
    <div class="animal-container">
        <h3>{{ animal.name }}</h3>
        <h4>{{ animal.price | currency:"EUR" }}</h4>
        <p>{{ animal.description }}</p>
        <button class="btn bg-secondary text-light" (click)="addToCart()">Add Companero to cart</button>
    </div>
</div>