<h1 class="h1 text-center m-5">Dating Cart</h1>
<div class="cart-item text-center" *ngFor="let item of cartItems">
    <span>{{item.name}} </span>
    <span>{{item.price | currency:"EUR" }}</span>
</div>

<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
    <div>
        <input id="name" type="text" placeholder="your Name" formControlName="name">
    </div>
    <div>
        <input id="address" type="text" placeholder="your Mail" formControlName="mail">
    </div>
    <button class="btn btn-outline-secondary my-2 my-sm-0 me-3" type="submit">Purchase</button>
</form>